<div class="login-component">
    <div class="left-img img col-md-7 col-sm-12 col-xs-12">
        <h1>Bienvenidos a <span>Unicomer</span></h1>
    </div>
    <div class="container right-content col-md-5 col-sm-12 col-xs-12">
        <h1>LOGO</h1>
        <div class="login1">
            <div class="login">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form 1">
                        <p>Tipo de documento</p>
                        <input type="text" name="" id="" placeholder="DNI" disabled>
                    </div>
                    <div class="form 2">
                        <p>Número de documento</p>
                        <input type="number" formControlName="numberDni" name="numberDni" id="numberDni" placeholder="Ej: 414816000" >
                        <small *ngIf="loginForm.controls ['numberDni'].dirty && loginForm.hasError('required','numberDni')" class="text-danger">*Email is required</small>
                    </div>
                    <div class="form 3">
                        <p>Clave</p>
                        <input type="password" formControlName="password" name="password" id="password" placeholder="Ingrese su clave..">
                        <small *ngIf="loginForm.controls ['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Contraseña requerida</small>
                    </div>
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-light btn-block mt-4 w-100">Ingresar</button>
                </form>
                <div class="keyboard">
                    <i class="fas fa-keyboard"></i>
                    <a href="">Teclado virtual</a>
                </div>
            </div>
        </div>
       
    </div>
</div>